
:root{
    --color1: #0A2A66;
    --color2: #CC1318;
    --color3: #015B04;
}

/* HEADER */
.header{
    box-shadow: 2px 2px 3px black;
    background-color: var(--color1);
    /* Tamaño de las anclas */
    .cajAnclas, .dropdown{
        a{
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    .cajAnclas:hover{
        border-bottom: 3px solid rgb(210, 125, 28); 
        transition: all 0.5s ease-in-out;
    }
    .dropdown:hover{
        background-color: rgba(255, 68, 0, 0.505);
    }
    
}